body{
    background-color:lightgray;
}
div{
    margin-left: 200px; margin-top:10px;
}
.content{
    margin-top: 35px;
}
.textarea{
    font-family: sans-serif;
}
.uploadbutton{
    margin-left: 380px;
    margin-top: 1px;
    position: relative;
}
a{
    text-decoration: none;
}
